/* Created by: Rory Mackay
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-01-HTML-JS-AreaTrapezoid
*/

body {
  background: #8095ff;
}

h1 {
	background-color: #ffadad;
	text-align: left;
}

div {
	
  color: #fff5f5;
  margin: 5px;
  background-color: #ffadad;
}

body {
  color: #fff5f5;
}

p.thick{
  font-weight: bold;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
  font-size: 22px;
}
